@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oleo+Script:wght@400;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    /* z-index: 1000; */
    padding-bottom: 15px;
    border-bottom: black solid 1px;
}

.navbar h2 {
    color: #165cd6;
    font-size: 30px;
    font-family: Shrikhand, serif;
    /* margin-top: 2px; */
    letter-spacing: 1px;
}

.navbar-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-header img {
    height: 75px;
    margin-left: 25px;
    margin-top: 10px;
}
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: inter;
    cursor: pointer;
    align-items: center;
    /* padding-bottom: 5px; */
    border-bottom: 3px solid white;

}

.navbar-menu :hover {
    /* font-size: 25px; */
    border-bottom: 3px solid #165cd6;
    transition: 0.1s;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    margin-right: 25px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 15px;
    font-size: 1em;
    font-weight: 500;
    font-family: Shrikhand, serif;
    background-color: #165cd6;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

.navbar button:hover {
    box-shadow: 0 5px 15px #165cd6;
    /* border: #4CAF4F; */
}
